{% extends "base_generic.html" %}
{% block title %}<title>Advanced library</title>{% endblock %}

{%block content %}
<div class = 'jumbotron'>
  <h1 class ="display-1" style="text-align:center">Local Library Home</h1>
  </div>
  <p>Welcome to LocalLibrary, a website developed by <em>MOHAMMAD ZARAK SHAHJEE</em>!</p>
  <h2>Dynamic content</h2>
  <div class="progress">
    <div class="progress-bar" style="width:70%"></div>
  </div> 
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
    <li><strong>Books containing word half:</strong> {{ num_books_word }}</li>
    <li><strong>Homepage Visit count:</strong> {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}</li>
  </ul>
{% endblock %}