{% extends "base_generic.html" %}

{% block content %}
<div class = 'jumbotron'>
    <h1 class ="display-1" style="text-align:center">Our Author List Dude!</h1>
    </div>
    <!---modelname_list-->
  {% if author_list %}
  <ul>
      <!--book = template variable-->
    {% for authr in author_list %}
      <li>
          <!--book.title = model name.field name-->
          <!--book.get_absolute_url = model name.function without argumnets-->
          <!--we call Book.get_absolute_url() to get a URL 
          you could use to display the associated detail record of books-->
        <a href="{{ authr.get_absolute_url }}">{{ authr.first_name}},{{authr.last_name}}</a> ({{authr.date_of_birth}})-{% if perms.catalog.can_mark_returned %} <a href="{% url 'author_update' authr.id %}">Update</a>- <a href="{% url 'author_delete' authr.id %}">Delete</a>{% endif %}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no authors in the library.</p>
  {% endif %}       
{% endblock %}